.container {
	width : 1920px;
}
.menu {
	display: flex;
	margin : 0;
	padding : 0;
	list-style-type : none;
	& > li {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		
		position: relative;
		width: 120px;
		border : 1px solid black;
		a {
			//width: inherit;
		}
	}
	li:hover .sub-menu {
		opacity: 1;
		visibility: visible;
	}
}
.sub-menu {
	display: inline-block;
	position : absolute;
	margin : 0;
	padding : 0;
	list-style-type : none;
	//opacity: 0;
	//visibility: hidden;
	& > li {
		padding : 0;
		//border : 1px solid black;
	}
}
nav {
	display : flex;
}