img {
	width: 100%;
	height: 100%;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: black;
}
button {
	background-color: inherit;
	//border: 0;
}
input {
	background-color: inherit;
	border: 0;
}
.container {
	width : 1920px;
	display :flex;
	position : relative;
}
//**************** menu
$nav-height: 40px;
.nav-menu {
	display : flex;
	position : relative;
	height: 40px;
}
.menu {
	display: flex;
	margin : 0;
	padding : 0;
	list-style-type : none;
	& > li {
		/*
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: top;
		align-items: center;
		*/
		display: block;
		position: relative;
		width: 120px;
		padding:0.5px;
		//border : 1px solid black;
		& > a {
			display: block;
			border : 1px solid black;
			text-align: center;
			width: inherit;
			height: $nav-height;
		}
	}
	.sub-menu {
		display: inline-block;
		width: inherit;
		text-align: center;
		margin : 0;
		padding : 0;
		list-style-type : none;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
		opacity: 0;
		visibility: hidden;
		& > li {
			padding : 0;
			//border : 1px solid black;
		}
	}
	li:hover .sub-menu {
		opacity: 1;
		visibility: visible;
	}
}

nav {
	display : flex;
}
//************************ login container **
#login-container {
	display: inline-block;
	.login-article {
		border: solid black 1px;
		border-radius: 15px 15px 0 0;
		border-width: 1px 1px 0 1px;
		p {
			text-align: center;
		}
		span {
			display: block;
			text-align: right;
		}
	}
	form {
		border: solid black 1px;
		border-radius: 0 0 15px 15px;
		padding: 10px;
	}
	.login {
		display: flex;
		flex-direction: row;

		border: solid black 1px;
		
		border-width: 1px 1px 0 1px;
		padding: 10px;
		.login-input {
			display: flex;
			flex-direction: column;
			width: 80%;
		}
		.login-button {
			display: flex;
			width: 20%;
		}
	}
	
	
	.login-sub-buttons {
		display: block;
		border: solid black 1px;
		border-radius: 0 0 15px 15px;
		padding: 10px;
		& > a {
			display: inline-block;
			width: 50%;
			text-align: center;
		}
	}
}
/****** list box style */
.article-list {
	display: block;
	border: solid black 1px;
	border-radius: 15px 15px 15px 15px;

	.title {
		border: solid black 1px;
		border-width: 0 0 1px 0;
		padding: 5px 15px 5px 15px;
	}
	.list {
		overflow-y : scroll;
		-ms-overflow-style: none;
		&::-webkit-scrollbar { 
			display: none; 
		}
		.litem {
			//border: solid black 1px;
			//border-width: 1px 0 0 0;
			padding: 0 15px 0 15px;
		}
		.litem:first-child {
			border-width: 0;
		}
		hr {
			margin: 0;
			width: 80%;
			margin: 0 15px 0 15px;
		}
		
	}
}
.slider-box {
	display: block;
	border: solid black 1px;
	border-radius: 15px 15px 15px 15px;

	.title {
		border: solid black 1px;
		border-width: 0 0 1px 0;
		padding: 5px 15px 5px 15px;
	}
	.list {
		display: flex;
		.litem {
			width: 260px;
			padding: 0 15px 0 15px;
		}
		.litem:first-child {
			border-width: 0;
		}
		hr {
			margin: 0;
			width: 80%;
			margin: 0 15px 0 15px;
		}
		
	}
}