img {
	width: 100%;
	height: 100%;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: black;
}
button {
	background-color: inherit;
	//border: 0;
}
input {
	background-color: inherit;
	border: 0;
}
#root {
	width: 1920px;
}
#master {
	padding: 96px 200px;
}
.container {
	width : 1920px;
	display :flex;
	position : relative;
}
//**************** nav-menu

.nav-menu {
	$nav-h: 120px;
	$menu-h: 100%;
	$nav-padd: 115px;
	$tot-menu-w: 1020px;
	$menu-cnt: 6;

	display : flex;
	position : relative;
	height: $nav-h;
	padding: 0 $nav-padd;
	background-color: rgb(21,34,48);
	.logo {
		display: block;
		position: relative;
		height: $nav-h - (10px * 2);
		margin: 10px 0;
		.logo-img {
			display: block;
			position: relative;
			height: inherit;
			width: 270px;
			height: 100%;
		}
	}

	.menu {
		display: flex;
		margin : 0;
		padding : 0;
		list-style-type : none;
		width: $tot-menu-w;
		& > li {
			display: block;
			position: relative;
			width: $tot-menu-w / $menu-cnt;
			padding:0.5px;
			//border : 1px solid black;
			& > a {
				//border : 1px solid black;
				font-size: 1.5rem;
				color:#edc89c;
				display: flex;
				justify-content: center;
				align-items: center;
				height: $menu-h;
				&:hover {
					color: #e78b8c;
				}
			}
		}
		.sub-menu {
			//border-left: 1px solid black;
			//border-right: 1px solid black;
			//border-bottom: 1px solid black;
			position: relative;
			z-index: 10;
			display: inline-block;
			width: inherit;
			text-align: center;
			margin : 0;
			padding : 0;
			list-style-type : none;
			opacity: 0;
			visibility: hidden;
			& > li {
				display: flex;
				justify-content: center;
				align-items: center;
				padding : 0;
				height: $nav-h / 2;
				background-color: rgb(21,34,48);
				color:#edc89c;
				font-size: 1.2rem;
				//border : 1px solid black;
			}
		}
		li:hover .sub-menu {
			opacity: 1;
			visibility: visible;
		}
	}
}

nav {
	display : flex;
}
//************************ login container **
#login-container {
	display: inline-block;
	.login-article {
		border: solid black 1px;
		border-radius: 15px 15px 0 0;
		border-width: 1px 1px 0 1px;
		p {
			text-align: center;
		}
		span {
			display: block;
			text-align: right;
		}
	}
	form {
		border: solid black 1px;
		border-radius: 0 0 15px 15px;
		padding: 10px;
	}
	.login {
		display: flex;
		flex-direction: row;

		border: solid black 1px;
		
		border-width: 1px 1px 0 1px;
		padding: 10px;
		.login-input {
			display: flex;
			flex-direction: column;
			width: 80%;
		}
		.login-button {
			display: flex;
			width: 20%;
		}
	}
	
	
	.login-sub-buttons {
		display: block;
		border: solid black 1px;
		border-radius: 0 0 15px 15px;
		padding: 10px;
		& > a {
			display: inline-block;
			width: 50%;
			text-align: center;
		}
	}
}
/****** list box style */
.article-list {
	display: block;
	border: solid black 1px;
	border-radius: 15px 15px 15px 15px;

	.title {
		border: solid black 1px;
		border-width: 0 0 1px 0;
		padding: 5px 15px 5px 15px;
	}
	.list {
		overflow-y : scroll;
		-ms-overflow-style: none;
		&::-webkit-scrollbar { 
			display: none; 
		}
		.litem {
			//border: solid black 1px;
			//border-width: 1px 0 0 0;
			padding: 0 15px 0 15px;
		}
		.litem:first-child {
			border-width: 0;
		}
		hr {
			margin: 0;
			width: 80%;
			margin: 0 15px 0 15px;
		}
		
	}
}
.slider-box {
	display: block;
	border: solid black 1px;
	border-radius: 15px 15px 15px 15px;

	.title {
		border: solid black 1px;
		border-width: 0 0 1px 0;
		padding: 5px 15px 5px 15px;
	}
	.list {
		position: relative;
		display: block;
		overflow: hidden;
		button {
			position: absolute;
		}
		.lframe {
			display: flex;
			width: inherit;
		}
		.litem {
			display: inline-table;
			width: inherit;
			padding: 0 15px 0 15px;
		}
		.litem:first-child {
			border-width: 0;
		}
		hr {
			margin: 0;
			width: 80%;
			margin: 0 15px 0 15px;
		}
		
	}
}